

* {
  box-sizing: border-box;
  /* outline: 1px solid black; */
  
}

body {
 background-color: #6ba7dc;
 margin: 0;
}

.Countdown{
  margin: 0 auto;
  padding: ;
  text-align: center;
  position: relative;
  z-index: 2;
}

#demo{
  background: #fff;
            border: 6px solid #000;
            padding: 40px 30px;
            font-size: 3.5em;
            font-weight: 900;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 8px;
            box-shadow: 
                12px 12px 0 0 #4ade80,
                12px 12px 0 2px #000;
            position: relative;
            margin-bottom: 30px;
            text-shadow: 
                3px 3px 0 #4ade80;
            line-height: 1.2;
}

.moments-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: #fff;
}

.moment {
  flex: 1 1 50%;
  background: red;
  padding: 2rem;

  display: flex;
}

.moment-gb {
  background: rgba(32, 55, 49, 0.75);
}